"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "tree-view"
      "linter"
      "wakatime"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    fontSize: 19
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-blame":
    customCommitUrlTemplateString: "https://github.groupondev.com/<%- project %>/<%- repo %>/commit/<%- revision %>"
    ignoreWhiteSpaceDiffs: true
    useCustomUrlTemplateIfStandardRemotesFail: true
  linter: {}
  nuclide:
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang-atom": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
    "nuclide-python": {}
    "nuclide-react-native": {}
    "nuclide-remote-ctags":
      disableWithHack: false
    "nuclide-working-sets": {}
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "save-session":
    dataSaveFolder: "/Users/ingo/.dotfiles/atom.symlink/packages/save-session/projects"
    fullScreen: false
    windowHeight: 1017
    windowWidth: 1609
    windowX: 61
    windowY: 22
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tool-bar": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
